.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16%;
}

h2 {
  font-size: 28px;
}

.card {
  border: solid 2px black;
  min-width:  400px;
  width: 800px;
  background-color: rgb(219, 247, 247);
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.Card-inf {
  padding: 13px;
  display: flex;
  gap: 20px;
}

.inputCard {
  padding: 10px;
  width: 80%;
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
}
.btnagregar {
  padding: 10px;
  background-color: rgb(114, 114, 173);
  border: none;
  border-radius: 10px;
  width: 80px;
  color: beige;
  cursor: pointer;
}

.Card-tareas {
  display: flex;
 justify-content: space-around;
 }

.Cards-listado {
  display: flex;
}

.titulo{
 padding-left: 38px;
}

.Card-ID {
  display: flex;
  flex-direction: column;
 }

.Card-Tareas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listascard {
  display: flex;
 
  list-style: none;
  margin-right: 39px;
}

.listaid {
  list-style: none;
}

.listascard {
  display: flex;
  align-items: center;
  gap: 20px;
}
.listatarea{
  list-style: none;
}

.inputcheck{
  display: flex;
  flex-direction: column;
}
.bntcheks{
  display: flex;
  column-gap: 20px;
}

.activarCheck{
  cursor: pointer;
}
.btnX{
  cursor: pointer;
}

.contenedorlistadocheq{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 47px;
  
}


.inputcheck{
  margin-left: 40px;
}
